header {
  background-image: url(https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=);
  height: 500px;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
}

.recent-work ul a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 8px;
    margin-top: 5px;
}


footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
}